canvas {
  height: 233px;
  width: 350px;
 /* border: 1px solid black;*/
  margin-top: 25px;
}
#editCanvas {
  height: 233px;
  weidth: 350px;
  /*border: 1px solid black;*/
}
h2 {
  font-size: 18px;
  margin: 10px 0;
}
h2:first-of-type {
  margin-top: 5px;
}
.color-input {
  width: 80% !important;
}
.nav-wrapper {
  overflow: hidden;
}
#title-color .btn {
  background-color: rgba(69, 168, 238, 0.8);
}
#category-color .btn {
  background-color: rgba(24,46,63,0.8);
}
.brand-logo {
  margin-left: 25px;
}
.row {
  margin-bottom: 4px;
}
.input-field {
  margin: 4px 0 4px 0;
}
.logo {
  height: 25px;
  vertical-align: middle;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.container .row{
  padding-top:33px;
}
